body{
  font-family: 'Baloo Tammudu 2', cursive;
}

header{
  text-align: center;
}

header h1{
  margin:200px;
  position: absolute;
  color: white;
  font-size: 5rem;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;

}

.firstimg img{
  width: 1275px;
  height: 600px;
}

.intro-title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro-text{
  display: inline-block;
  width: 30%;
  margin-left: 0;
  padding-top: 50px;
  line-height: 1.8rem;
  opacity: 0;
  transform: translateY(90px) translateX(-100px);
  transition: 0.7s all ease-in-out;
}

.intro img{
  width: 800px;
  height: 1000px;
  float: right;
}


.intro-text-animation{
  opacity: 1;
  transform: translateY(0) translateX(0);
  margin-left: 30px;
}
